@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    background-color: rgb(248, 242, 233);
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

/*Header*/
.header {
	display: flex;
	align-items: center;
	height: 85px;
	font-family: 'Spline Sans', sans-serif;
	font-size: 1.25em;
	color: cornsilk;
	background-color: rgb(131, 152, 196);
}

.nav__list {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
 }

 .nav__link {
	color: cornsilk;
	padding: 15px 35px;
	line-height: 42.5px;
	text-decoration: none;
	transition: color 0.5s;
 }

 .nav__link:visited {
	color: cornsilk;
 }

 .nav__link:hover {
	color: rgb(250, 217, 175);
    transition: 0.5s;
 }

 /*Main container*/

.main__container {
	display: flex;
	flex-wrap: wrap;
}

.section {
	width: calc(50% - 20px);
	padding: 10px;
	padding-bottom: 35px;
	border-bottom: 3px solid rgb(233, 204, 165);
}

.main__section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 10px solid rgb(233, 204, 165);
}

.section__title {
	font-family: 'Spline Sans', sans-serif;
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #c9ac8b;
	border-bottom: 3px solid rgb(233, 204, 165);
    padding: 20px 0;
    text-align: center;
  }

.section__title--smaller {
	font-family: 'Spline Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
    color: #c9ac8b;
	font-size: 1.5em;
	padding-bottom: 20px;
    border-bottom: none;
}

.section__img {
	display: block;
    width: 270px;
    height: 270px;
    border-radius: 50%;
}

.section__img:hover {
    transform: scale(0.95);
    transition: 0.5s;
    cursor: pointer;
}

/*Section contacts*/

.contacts__list {
    list-style: none;
}

.contacts__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

/*Section about*/

.about__text,
.about__item {
    padding-bottom: 20px;
}

.about__list-wrapper,
.list__item {
    margin-left: 30px;
}

/*Section skills*/

.skills__item {
    padding-bottom: 10px;
}

/*Section code example*/

.code__tag {
    font-family: 'Lato', sans-serif;
}

footer {
   display: block;
   height: 85px;
   font-size: 14px;
   color: cornsilk;
   background-color: rgb(131, 152, 196);
}

  
  .footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;  
  }

  .list {
      list-style: none;
  }

  .link {
      text-decoration: none;
      color: #c9ac8b;
      transition: color 0.5s;
  }

  .link:visited {
      color: #c9ac8b;
  }
  
.link:hover {
    color:rgb(250, 217, 175); 
}

  img.logo {
      width: 60px;
      height: 40px;
      border-radius: 0%;
  }

  img.logo:hover {
      border: none;
  }

  img.project-img {
      border-radius: 5%;
      width: 597px;
      height: 460.5px;
      
  }
  img.project-img:hover {
      border: none;
  }

@media (max-width: 768px) {
        .section {
          width: 100%;
        }

		  .section__img {
			  width: 200px;
			  height: 200px;
		  }
      }

.code-example {
    font-size: 14px;
    padding: -20%;
}

#projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: none ;
}

.button {
    width: 120px;
    height: 60px;
    background-color: rgb(131, 152, 196);
    text-align: center;
    padding-top: 15px;
    border: 3px solid rgb(250, 217, 175);
    border-radius: 10px;
    transition: color 3s;
}

svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
